@use '../../mixin' as m;
@use '../../variables' as var;

.Job__List {
	@include m.display-grid(0, $align: center, $justify: center);
	margin-block-end: 6.6rem;

	// Adjustment to animation
	margin-block-start: 2.5rem;
	overflow: hidden;
}
