/* ==================
        Colors
================== */

/** Primary **/

$desaturated-dark-cyan: hsl(180, 29%, 50%);

/** Neutral **/

$light-grayish: hsl(180, 52%, 96%);
$light-grayish-cyan: hsl(180, 31%, 95%);
$dark-grayish-cyan: hsl(180, 8%, 52%);
$very-dark-grayish-cyan: hsl(180, 14%, 20%);
$black: hsl(0, 0%, 0%);

/* =====================
       Typography
===================== */

/** Body Copy */

$font-size: 1.1rem;

/** Headings **/

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
$family: 'League Spartan', sans-serif;
$fw-500: 500;
$fw-700: 700;
