@use 'variables' as var;

.App {
	display: flex;
	flex-direction: column;

	&__Header {
		height: 11rem;
		background-color: var.$desaturated-dark-cyan;
		background-image: url('./assets/images/bg-header-mobile.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	&__Main {
		height: 100vh;
		background-color: var.$light-grayish;
	}
}

.Job__List {
	display: grid;
	place-items: center center;
	margin-block: 3rem;
}

.Job {
	position: relative;
	width: min(80%, 360px);
	display: grid;
	font-size: var.$font-size;
	border: none;
	border-left: 8px solid var.$desaturated-dark-cyan;
	border-radius: 8px;
	background-color: white;
	box-shadow: 0 1rem 1rem -2rem;
	padding: 2rem;

	&__Description {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding-block-end: 1rem;
		border-bottom: 1.5px solid rgba(var.$dark-grayish-cyan, 0.2);

		& > p {
			font-weight: var.$fw-700;
		}
	}
}

img {
	position: absolute;
	top: -1.5rem;
	width: 3rem;
}
hr {
	border: none;
	border-top: 1.2px solid rgba(var.$dark-grayish-cyan, 0.3);
}

.Company__Name {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	font-weight: var.$fw-700;

	& p:first-child {
		color: var.$desaturated-dark-cyan;
	}

	& p:not(:first-child) {
		background-color: var.$desaturated-dark-cyan;
		color: white;
		font-size: 0.7rem;
		text-transform: uppercase;
		padding-block: 0.3rem 0.2rem;
		padding-inline: 0.5rem;
		border-radius: 40px;
		margin-inline-end: -1rem;
	}

	& p:last-child {
		background-color: var.$black;
	}
}

.Criteria {
	display: flex;
	gap: 1rem;
	align-items: center;
	font-size: 0.8rem;
	color: var.$dark-grayish-cyan;
	& p:not(:first-child) {
		border-left: 6.5px dotted;
		padding-inline-start: 0.4rem;
	}
}

.Tags {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	margin-block-start: 1rem;

	& p {
		color: var.$desaturated-dark-cyan;
		font-weight: var.$fw-700;
		padding-block: 0.3rem 0.2rem;
		padding-inline: 0.5rem;
		border-radius: 3px;
		background-color: var.$light-grayish-cyan;
	}
}
