@use 'variables' as var;
@use 'mixin' as m;

.App {
	@include m.display-flex($direction: column);

	&__Header {
		height: 11rem;
		background-color: var.$desaturated-dark-cyan;
		background-image: url('./assets/images/bg-header-mobile.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;

		@media (min-width: 45rem) {
			height: 8rem;
			background-image: url('./assets/images/bg-header-desktop.svg');
		}
	}

	&__Main {
		display: grid;
	}
}
